<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="dash-board">
    
        <template>
            <style include="shared-styles">
                :root {
    --paper-input-container-underline: {
      display: none;
    };
    --paper-input-container:{pading:0px}
    --paper-input-container-underline-focus: {
      display: none;
    };
    --paper-input-container-underline-disabled: {
      display: none;
    };
  }

                form{
    text-align: center;
    padding: 100px;
}
.card{ width: 23%; height: 738px; margin: 0% auto 0px 0px; border-radius:0px; padding: 0px;position: absolute; top:0px; z-index: 111;  }
.card .heading{ background:#16b0ff; padding: 1px 0px}
.card .heading h2{ color: #fff; font-weight: lighter; padding: 0px 0px; font-size: 20px;}
.rooms{overflow-y: scroll;height: 670px;}
.task-btn{ padding: 100px; background: #0D47A1;color: #fff}
.officier-btn{padding: 100px; background: #2196F3; color: #fff}
.card .logout{ position: absolute; bottom: 0px; z-index: 111111; background: #10afff; width: 100%; margin: 0px; color: #fff}
.card ul{ padding: 0px; margin: 0px}
.card li{ list-style: none; padding: 15px}
.card li{ background: #fff; border-bottom: 1px solid #ddd; float: left; width: 100%}
.card .usericon{float: left; width: 65px}
.card li .usericon img{  width: 100%; margin: 0px;}
.card li p{ margin-left: 18px; float: left; margin-top:18px }
    .card li a{ color: #353535;text-decoration: none;    float: left;
    width: 100%;}
    .chatmessage{  right: 0%;
    position: absolute;
    background: #f0f0f0;
    width: 77%;
    height: 674px;}
    .welcomemessage{  right: 0%;
    position: absolute;
    width: 77%; top: 28%}
    .welcomemessage p{ text-align: center; color: #fff; font-weight: lighter; font-size: 20px; margin: 0x}
    .createmessage{position:absolute; bottom: 20px; width: 100%; border-top: 1px solid #ddd; }
    .createmessage paper-input{ width: 70%; border: none; margin-left: 20px; float: left; margin-bottom: 0px;text-align: left}
    .createmessage .submit-btn{background: #4A148C; color: #fff; margin-top: 10px;border-radius: 30px; float: right;padding: 10px 40px}
    .createmessage .close-btn{background: #cecece; color: #000; margin-top: 10px;border-radius: 30px; float: right;padding: 10px 10px}
    .createmessage form{ padding: 0px;}
    .history{ padding: 30px}
    .history span{ background: #fff; padding: 10px; border-radius: 30px}
    .history p{ padding: 15px 0px}
                
    </style>
    <iron-ajax    auto   url = "../jsondata/chatRooms.json" on-response="handleResponse" content-type="application/json" >
         
 </iron-ajax>
 <iron-ajax  id="getmessage" method="get"   url = "../jsondata/histroy.json" on-response="_handleResponse" content-type="application/json" >  </iron-ajax>
        <div class="card">
                <paper-button on-click="logout" class="logout" raised>Logout</paper-button>
            <div class="heading">
                    
            <h2>Avaliable Chat Rooms</h2>
            </div>
            <div class="rooms">
                    
                    <ul><template is="dom-repeat" items="{{responseme}}" as="titem" class="carddetails">
                    <li id={{titem.id}}><a on-click="openchat"><span class="usericon"><img src="../images/user.png"></span><p>{{titem.roomName}}</p></a></li>


                </template></ul>
                
                
            </div>
        </div>   
        <div class="welcomemessage" hidden$="[[message]]"><p>Welcome {{Username}}, Select your room and start chat</p></div>
        <div class="chatmessage" hidden$="[[load]]">
                
<div class="history">

    <template is="dom-repeat" items="{{messageResponse}}" as="messageItem">
        <p>{{messageItem.userName}}:&nbsp;&nbsp;&nbsp;<span>{{messageItem.message}}</span></p>


    </template>

</div>
<div class="mewmessage">
    <div class="createmessage">
        <form>
            <paper-input  id="entermessage" label="Enter Your Message"  error-message="Enter some letters" required></paper-input>
            <paper-button raised on-click="closechat" class="close-btn">Close Chat</paper-button>
            <paper-button raised on-click="enter" class="submit-btn">Send</paper-button>
            
        </form>
        </div></div>

        </div>
    </template>
    
<script>

    class DashBoard extends Polymer.Element{
        static get is() { return 'dash-board'; }
        static get properties() {
    return {

        responseme: {
            type: Object,
            value: {}
          }
    }
        }
       
        constructor(){

super();
            this.load = true;
            this.message = false;
        }
        openchat(e){
            this.chatid = e.model.titem.id;
            if(this.chatid !=="undefined"){
                this.$.getmessage.generateRequest();
                this.load = false;
                this.message = true;
            }
            
        }

        logout(){

            window.location.href="/login-page"
        }
       closechat(){
        this.load = true;
                this.message = false;

       }
       

         handleResponse(event, request) {
                    this.responseme = request.response;
                   
                    
                  }

                   _handleResponse(event, request) {
                    this.messageResponse = request.response;
                   
                    
                  }

    }   

    
  window.customElements.define(DashBoard.is, DashBoard);
  

</script>

</dom-module>

