<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
  <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-page">
    
        <template>
            <style include="shared-styles">
                #form3{ background: #fff; width: 100%; text-align: left; padding: 40px 0px }
        #form3 .submit-btn { background: #4A148C; color: #fff; margin-top: 20px;border-radius: 30px}
       
        #form3 label{ text-align: left !important}
        .card{ width: 30%; text-align: center; margin: 0px auto 0px auto; top:130px; position: relative}
        #form3 .col-70 { width: 70%; float: left;}
        .card h1{ text-align: center; margin: 0px;}
        #form3 .col-70 paper-input.custom {
      margin-bottom: 14px;
      --primary-text-color: #01579B;
      --paper-input-container-color: black;
      --paper-input-container-focus-color: black;
      --paper-input-container-invalid-color: black;
      border: 1px solid #BDBDBD;
      border-radius: 5px;

      /* Reset some defaults */
      --paper-input-container: { padding: 0;};
      --paper-input-container-underline: { display: none; height: 0;};
    </style>
        <div class="card">
                <h1>Login Now and Start Chat</h1>
    <iron-form id="form3">
            
  <form action="/foo" method="get">
    <div class="col-70"><paper-input name="username" label="User Name" class="custom"  required><iron-icon icon="account-box" slot="prefix"></iron-icon></paper-input></div>
    
    <div class="col-20">
    <paper-button raised on-click="submit" class="submit-btn">Submit</paper-button>
    </div>
    
     
  </form>
  <div class="output"></div>
</iron-form>  
        </div>   

    </template>

<script>

    class LoginPage extends Polymer.Element{

        static get is() {return 'login-page'}

        submit(){
            window.history.pushState({},null,"/dash-board");
            window.location.href="/dash-board";
        }

    }
    window.customElements.define(LoginPage.is, LoginPage);

</script>

</dom-module>

